/*Colors:*/
/*Text:*/
/*Font:*/
/*Font-size:*/
/*$font-size-XX*$font-size-XX*/
/*Background:*/
/*Layout:*/
/*Automatic padding:*/
/*Media queries:*/
/*Nav:*/
/*Text:*/
/*Background:*/
/*Layout:*/
/*Projet: */
@font-face {
  font-family: "Galgony";
  src: url("../font/Galgony.ttf");
}
@font-face {
  font-family: "Bride";
  src: url("../font/Bride.otf");
  src: url("../font/Bride.ttf");
}
body {
  min-width: 590px;
  overflow-x: clip;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(227, 227, 227), rgb(225, 227, 227) 20%, rgb(223, 223, 221) 50%, rgb(216, 216, 214) 75%, rgb(213, 213, 211) 100%);
}

h1 {
  margin: 0;
}

h2,
h3 {
  margin: 40px 0 20px 0;
  color: #563d66;
  text-shadow: 4px 4px 5px white;
  padding: 0;
}

.page-background {
  background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  position: absolute;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center 80px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main-page,
.contact-page {
  width: 70%;
  margin: 0 15%;
  padding-top: 15%;
}
@media screen and (max-width: 1300px) {
  .main-page,
.contact-page {
    width: 84%;
    margin: 0 8%;
  }
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
}
@media screen and (max-width: 850px) {
  body {
    font-size: 18.48px;
  }
}

.italic {
  font-style: italic;
}

h2,
h3 {
  font-family: Galgony, "Comic sans MS", sans-serif;
  font-weight: normal;
}

h1 {
  font-family: Bride, "Comic sans MS", sans-serif;
  font-weight: normal;
  font-size: 70.4px;
}

h2 {
  font-size: 52.8px;
}

h3 {
  font-size: 39.6px;
}

@media screen and (max-width: 850px) {
  h2 {
    font-size: 44.352px;
  }

  h3 {
    font-size: 33.264px;
  }
}
.nav {
  display: flex;
  position: fixed;
  text-align: right;
  border-bottom: 3px solid #000;
  background-color: #8c66a3;
  width: 70%;
  padding: 0 15%;
}
@media screen and (max-width: 1300px) {
  .nav {
    width: 86%;
    padding: 0 7%;
    min-width: 510px;
  }
}
.nav__page-link a {
  color: #fff;
  text-shadow: 4px 4px 5px #0d0d0d;
  text-decoration: none;
}
.nav__page-link a:hover {
  color: #fff;
  text-shadow: 4px 4px 5px #0d0d0d;
  text-decoration: none;
}
.nav nav {
  background-color: #8c66a3;
  padding: 10px 0;
  flex-grow: 1;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  font-family: Galgony, "Comic sans MS", sans-serif;
  font-weight: bold;
  font-size: 30.8px;
}
@media screen and (max-width: 850px) {
  .nav li {
    font-size: 25.872px;
  }
}
.nav__inline__link a {
  color: #fff;
  text-shadow: 4px 4px 5px #0d0d0d;
  text-decoration: none;
}
.nav__inline__link a:hover {
  color: #000;
  text-shadow: 4px 4px 5px #cccccc;
}

.projet {
  text-align: justify;
  margin-bottom: 50px;
}
.projet__img {
  width: 300px;
  border: 2px solid #000;
  border-radius: 20px;
}
.projet__bloc {
  display: flex;
}
.projet__texte p {
  padding-left: 20px;
  margin: 0;
}

.contact li {
  margin-top: 20px;
  list-style: none;
}
.contact td {
  font-size: 22px;
  padding: 7px 5px;
}
@media screen and (max-width: 850px) {
  .contact td {
    font-size: 18.48px;
  }
}
.contact__icon {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
