body {
	min-width: 610px;
	overflow-x: clip;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(to right, rgba(227, 227, 227, 1.0), rgba(225, 227, 227, 1.0)20%,rgba(223, 223, 221, 1.0)50%, rgba(216, 216, 214, 1.0)75%, rgb(213, 213, 211)100%);
	}

h1 {
    margin: 0;
	padding: 0;
    
}

h2 {
    margin: 40px 0 20px 0;
	padding: 0;
    @media screen and (max-width: 850px) {
		font-size: 40px;
	}
}

h3 {
    margin: 40px 0 20px 0;
    @media screen and (max-width: 850px) {
		font-size: 32px;
	}
}

h2,
h3 {
	color: $color-black;
	text-shadow: 2px 2px 2px #ffffff;
}

.page-background {
	background-image: url('../img/main-background.jpg');
	background-repeat: no-repeat;
	position: absolute;
	background-attachment: fixed;
	background-size: 100%;
	background-position: center 80px;
	height: 100%;
	width: 100%;
	z-index: -1;
	}

.main-page,
.contact-page {
	margin: 0 15%;
	padding-top : 200px;
    @media screen and (max-width: 850px) {
		margin: 0 8%;
		padding-top: 150px;
	}
}