body {
	font-family: $normal-font;
	@include font-size;
    @media screen and (max-width: 850px) {
        @include font-size($font-size, 0.9);
        }
	}

.italic {
	font-style: italic;
}

h2,
h3 {
    font-family: $title2-font;
	font-weight: normal;
}

h1 {
	font-family: $title1-font;
	font-weight: normal;
	@include font-size($font-size, 3.2);
}

h2 {
	@include font-size($font-size, 2.2);
}

h3 {
	@include font-size($font-size, 2);
}

@media screen and (max-width: 850px) {
	h2{@include font-size($font-size, 2)}
	h3{@include font-size($font-size, 1.4)}
}