.contact {
    & li {
        margin-top: 20px;
        list-style: none;
    }

    & td {
        font-size: 22px;
        padding: 7px 5px;
        @media screen and (max-width: $media-min) {
            @include font-size-media($font-size, $font-size-media-min);
	}
    }

    &__icon {
        text-align: center;
    }
}