/*Text:*/ 
@mixin text-shadow($color:darken-shift($color-primary), $size: $shadow-size) {
    color: $color;
    text-shadow: $shadow-size shadow($color);
}

@mixin titles-color($color:darken-shift($color-primary)) {
    color: $color
}

@mixin font-size-media($font-size, $variable: 1) {
    font-size: $font-size*$variable;
}

/*Background:*/
@mixin background-image ($background-img: $background-img-work) {
    background-image: $background-img;
	background-repeat: no-repeat;
	position: absolute;
	background-attachment: fixed;
	background-size: 100%;
	background-position: center 80px;
	height: 100%;
	width: 100%;
	z-index: -1;
}


/*Layout:*/
@mixin padding-width($width)  {
    width: $width;
    padding: 0 calc((100% - $width) / 2);
 }

 @mixin margin-width($width)  {
    width: $width;
    margin: 0 calc((100% - $width) / 2);
 }


@mixin page-layout {
    @include margin-width(70%);
    padding-top : 15%;
        @media screen and (max-width: $media-medium) {
            @include margin-width(84%);
        } 
}

@mixin body-layout {
    min-width: $page-min-width;
	overflow-x: clip;
	margin: 0;
	padding: 0;
	background: $background
}

/*Nav:*/
   

/*Projet: */
@mixin projet {
    .projet {    
        text-align: justify;
        margin-bottom: 50px;
        &__img {
            width: 300px;
            border: 2px solid $color-font-primary;
            border-radius: 20px;
        }
        &__bloc {
            display: flex;
        }
    
        &__texte p {
            padding-left: 20px;
            margin: 0;
        }
    }
}



