.nav {
	display: flex;
	background-color: $color-primary;
	position: fixed;
	text-align: right;
	width: 70%;
	padding: 0 15%;
	margin: 0;
	border-bottom: 3px solid $color-font-primary;
    @media screen and (max-width: 850px) {
        width: 86%;
        padding: 0 7%;
        min-width: $nav-min-width;
      }
    &__page-link a {
        @include text-shadow($color-font-secondary);
        text-decoration: none;
     
        &:hover {
            @include text-shadow($color-font-secondary);
            text-decoration: none;
        }
    }  
    & nav {
        background-color: $color-primary;
        padding: 10px 0;
        flex-grow: 1;
    }
        & ul {
            margin: 0;
            padding: 0;
        }

    & li {
        display: inline-block;
        text-decoration: none;
        font-family: $title2-font;
        font-weight: bold;
        padding: 20px;
        @include font-size($font-size, 1.4);
        @media screen and (max-width: 850px) {
            @include font-size($font-size, 1.2);
        }
        }

    &__inline__link a {
        @include text-shadow($color-font-secondary);
        text-decoration: none;

        &:hover {
            @include text-shadow($color-font-primary);
        }
    }
}