.nav {
    display: flex;
    position: fixed;
    text-align: right;
    border-bottom: $nav-border-bottom;
    background-color: $color-primary;
    @include padding-width($padding-width-fullscreen);
    @media screen and (max-width: $media-medium) {
        @include padding-width($padding-width-media-min);
        min-width: $nav-min-width;
      }
    &__page-link a {
        @include text-shadow($color-font-secondary);
        text-decoration: $text-deco-none;
     
        &:hover {
            @include text-shadow($color-font-secondary);
            text-decoration: $text-deco-none;
        }
    }  
    & nav {
        background-color: $color-primary;
        padding: 10px 0;
        flex-grow: 1;
    }
        & ul {
            margin: 0;
            padding: 0;
        }

    & li {
        display: inline-block;
        padding: 20px;
        text-decoration: $text-deco-none;
        font-family: $title2-font;
        font-weight: $font-weight-bold;
        font-size: $font-size-nav;
        @media screen and (max-width: $media-min) {
            @include font-size-media($font-size-nav, $font-size-media-min);
        }
        }

    &__inline__link a {
        @include text-shadow($color-font-secondary);
        text-decoration: $text-deco-none;

        &:hover {
            @include text-shadow($color-font-primary);
        }
    }
}
